/* Pricing tables */
.price-box{
    @include border-radius(5px);
    @include transition(all .3s);
    border: 1px solid $defaultcolor;
    text-align: center;
    position: relative;
    overflow: hidden;
    .price-title{
        font-size: 1.25rem;
        line-height: 1.5;
        font-weight: 600;
        padding-top:1.5rem;
        color: $darktext;
        >i{
            color: $skincolor;
            display: block;
            font-weight: normal;
            font-size: 11rem;
            width: 9rem;
            position: absolute;
            opacity: .1;
            top: 2rem;
            left: 50%;
            line-height: 1;
            @include transform(translateX(-50%));
        }
    }
    .pricetag{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 7rem;
        height: 7rem;
        line-height: 1;
        border: 1px solid rgba($skincolor,.45);
        color: $darkcolor;
        @include box-shadow(0px 0px 20px rgba($skincolor,.08));
        @include border-radius(6rem);
        margin: 20px auto;
        position: relative;
        sup,sub{
        border: 1px solid rgba($skincolor,.45);
        align-items: center;
        justify-content: center;
        width: 1.5rem;
        height: 1.5rem;
        color: $basetext;
        font-weight: 600;
        line-height: 1;
            font-size: 13px;
            display: flex;
            padding: .25rem;
            @include border-radius(2rem);
            background-color: #fff;
            line-height: 1;
        }
        span{
            font-size: 2rem;
            font-weight: 600;
        }
        sub{
           position: absolute;
           right: 10px;
           bottom: 0;
        }
        sup{
            position: absolute;
            left: 11px;
            top: 0px;
         }
    }
    ul{
        li{
            display: block;
            line-height: 3;
            border-bottom: 1px dashed $defaultcolor;
            &:last-child{
                border-bottom: 0px;
            }
        }
    }
    .price-footer{
        padding: 1.5rem 1rem;
        padding-top: 0;
    }
    &.best-plan{
        .price-title{
            color: $skincolor;
        }
        .pricetag{
            color: $skincolor;
            border-color: $skincolor;
        }
        .best-label{
            background-color: $skincolor;
            color: #fff;
            display: inline-block;
            padding: .35rem 2.5rem;
            font-weight: 400;
            font-size: 11px;
            @include transform(rotate(45deg));
            position: absolute;
            right: -45px;
            top: 23px;
            line-height: 1;
        }
    }
    &:hover{
        @include transform(translateY(-10px));
        @include box-shadow(0px 0px 10px rgba($darkcolor,.05));
    }
}


.price-no-space{
    .price-box{
        border: 0px;
        @include border-radius(0);
        @include box-shadow(none);
        &.best-plan{
            @include box-shadow(0px 0px 59px rgba($darkcolor,.05));
            z-index: 3;
        }
    }
}