/*
Titles style
*/

.center-title{
    text-align: center;
    position: relative;
    h2{
        font-size: 30px;
        line-height: 30px;
        text-transform: capitalize;
    }
    .border-width{
        margin-top: 20px;
    }
}
.left-title{
    text-transform: capitalize;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
    position: relative;
    margin-bottom:40px;
    &:after{
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 60px;
        height: 2px;
        background: $skincolor;
    }
    h3{
        font-size: 30px;
        line-height: 30px;
        text-transform: capitalize;  
    }
}
