/*
Top bar style
*/
.top-bar{
    padding:10px 0;
    border-bottom: 1px solid $defaultcolor;
    span{
        display: inline-block;
        margin-right: 10px;
        color: inherit;
        font-size: 14px;
        i{
            vertical-align: middle;
            position: relative;
            top: -1px;
            display: inline-block;
            margin-right: 10px;
            font-size: 16px;
        }
    }
    .list-inline{
        li{
            padding: 0px;
            &:not(:last-child) {
                margin-right: .05rem;
            }
            a{
                width: 36px;
                height: 36px;
                line-height: 1;
                justify-content: center;
                align-items: center;
                display: flex;
                border:1px solid $defaultcolor;
                font-size: 21px;
                color:$basetext;
                @include border-radius(24px);
                &:hover{
                    border-color: $skincolor;
                }
            }
        }
    }
    &.top-bar-dark {
    background: $darkcolor!important;
    span{
        color:$basetext;
    }
    .list-inline li a{
        background-color: $darktext;
        color: #fff;
        &:hover{
            color: #fff;
            background: $skincolor;
        }
    }
}
}

