/*
Template variables
*/
$skincolor:#fab702;
$skinactive:#eaab02;
$secondarycolor:#fceabb;
$secondaryactive:#f4dd9f;
$defaultcolor:#f2f2f2;
$default-active:#ecece9;
$darkcolor:#36363d;
$darkactive:#212125;
$basetext:#5c6771;
$darktext:#343352;
$base-font:'Open Sans', sans-serif;
$title-font:'Dosis', sans-serif;
